<div class="login-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="login-form" [formGroup]="loginForm">
      <div class="input-title">
        <h5>Username</h5>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>
          Username
        </mat-label>
        <input matInput type="text" placeholder="Username" name="user" [formControl]="userControl"
          [(ngModel)]="member.user">
        <mat-error *ngIf="userControl.invalid">Usuario requerido</mat-error>
      </mat-form-field>
      <div class="input-title">
        <h5>Password</h5>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>
          Password
        </mat-label>
        <input matInput type="password" placeholder="Password" name="password" [formControl]="passwordControl"
          [(ngModel)]="member.password">
        <mat-error *ngIf="userControl.invalid">Contraseña requerido</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button class="button" mat-flat-button color="accent" [disabled]="loginForm.invalid"
          (click)="submitForm($event)">Login</button>
        <button class="password" mat-button color="primary" (click)="forgotPasswordDialog()">Forgot your
          password?</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
